// 修改antdesign 弹框展示样式
.buy-modal 
    /deep/ .ant-modal-wrap > .ant-modal > .ant-modal-content
        > .ant-modal-header
            border-bottom 0
        > .ant-modal-footer
            border-top 0
            text-align: center
            .ant-btn:first-child
                color #1d76f1
                border-color #1d76f1
