// fullpage 导航样式修改
.fp-right
    .fp-right
        border 1px solid #304794
        background-color #1d378a
        text-align center
        border-radius 4px
        padding 3px 10px
        // &:after
        //   content: ''
        //   position absolute
        //   right 0
        //   width 0
        //   height 0
        //   border-top 4px solid transparent
        //   border-right 4px solid transparent
        //   border-bottom 4px solid transparent
        //   border-left 4px solid #1d378a
    &.fp-tooltip
        top -6px !important

#fp-nav.fp-right
  margin-top: 0 !important
#fp-nav ul li, .fp-slidesNav ul li
  margin 20px
#fp-nav ul li a span, #fp-nav ul li:hover a span, .fp-slidesNav ul li a span, .fp-slidesNav ul li:hover a span
  background-color #ffffff
  width 10px
  height 10px
  margin -2px 0 0 -2px
#fp-nav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li a.active span, .fp-slidesNav ul li:hover a.active span
  width 10px
  height 10px
  background-color #1d76f1
  margin -2px 0 0 -2px

.fp-tableCell
    display: inline-block
    // height calc(100% + 67px) !important