.target-config
  background-color $color-background
  height 100%
  .ant-form-item
    margin-bottom 10px
  .ant-input-group
    .ant-input
      height 28px
  .ant-input-group-addon
    padding 0 4px
  .ant-form-item-label
    float left
    width 130px
    line-height: 30px
    label
      font-size 16px
      color: #333;
  .ant-form-item-control 
    line-height: 30px
  .ant-form-item-control-wrapper
    float left
  .float-box
    float left
    width 300px
  .target-module
    margin-bottom 25px
    .title
      margin-bottom 10px
      font-size 18px
      line-height 1
      // color #263258
      color #333
      margin-left 15px
      position relative
      &:before
        content ''
        position absolute
        top -1px
        bottom 0
        left -15px
        margin auto
        width 6px
        height 17px
        background $primary-color
        border-radius 2px
    .lableBefore
      .ant-form-item-label
        label
          font-size 16px
          &:before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: -12px;
            margin: auto;
            width: 6px;
            height: 6px;
            background: #577eff;
            border-radius: 50%;
          }
    .portfolio
      width: 200px
      margin-left 10px
    .portfolioFrist
      width: 120px
    .module
      padding-bottom 0px
      .input-wrap
        float left
        width 100px
        height 38px
      .input-line
        float left
        padding 0 5px
        line-height 39px
      .module-child
        .module-child-box
          float left
          width: 330px
          height 50px
          margin-right 10px
          .ant-form-item-label
            width 110px
        // 不可输入
        .not-edit
          .input-wrap
            border 1px solid #d9d9d9
            border-radius 4px
            background #fff
            position relative
            display block
            width 100px
            height 28px
            margin-top 4px
            &:after
              content ''
              position absolute
              top 50%
              left -2px
              z-index 2
              width 100px
              height 2px
              transform rotate(16deg)
              background #e0e3eb
  .module-box .ant-form-item-label
    line-height: 30px
  .position-module .position-label
    label
      &:before
        content ''
        position absolute
        top 0
        bottom 0
        left -12px
        margin auto
        width 6px
        height 6px
        background #577eff
        border-radius 50%
  .position-module .position-label label:before
    left 50px
  .nonStandar-module
    .ant-form-item-label
      width 180px
    .ant-form-item-control-wrapper
      width 100px
  .creditBond-module
    .ant-form-item-label
      width 500px
    .ant-form-item-control-wrapper
      width 500px
      .class
        width 130px
        display: inline-block
        vertical-align: top
        text-align: right 
        font-size: 16px
        color: #2b3247
        margin-right: 0px
      .highCredit
        margin-left 130px
      .classTip
        display: inline-block
        vertical-align: top
        margin-left: 10px
      .CreditTip
        margin-left: 23px
  .stock-module
    .ant-form-item-label
      width 180px
    .ant-form-item-control-wrapper
      width 100px
  .position-module
    .module
      .not-edit
        .input-wrap
          border 1px solid #d9d9d9
          border-radius 4px
          background #fff
          position relative
          display block
          width 100px
          height 28px
          margin-top 4px
          &:after
            content ''
            position absolute
            top 50%
            left -2px
            z-index 2
            width 100px
            height 2px
            transform rotate(16deg)
            background #e0e3eb
      .input-wrap
        margin-bottom 15px
    .module-child
      padding-left 40px
  .ant-form-explain
    font-size 12px
.lableSolt
  .ant-tooltip-content
    .ant-tooltip-arrow
      background #ffffff
      display none
  .ant-tooltip-inner
    background: #ffffff
    .lableTip
      background: #fff
      span 
        display block
        vertical-align top
        font-size 12px
        color: #666
        line-height 22px